repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.0.1
  hooks:
  - id: check-yaml
  - id: double-quote-string-fixer
- repo: https://github.com/ambv/black
  rev: 21.12b0
  hooks:
  - id: black
